<p>home works!</p>
<div>
    <img
     
      src="assets/ng.png"
      alt=""
      width="10%"
      height="10%"
    />
    <h1>Simple Angular Application</h1>
    <div>
      <p>
        This is simple angular application for user registration, login and
        profile components. 
      </p>
      
      <div>
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"
          (click)="registerComponent()"
        >
          Register Now
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-lg px-4"
          (click)="login()"
        >
          Login
        </button>
      </div>
    </div>
  </div>
  
